[Unit]
Description=Update delay information on e-ink display
After=network.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
